[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bandit = "*"
coverage = "*"
django-debug-toolbar = "*"
django-debug-toolbar-request-history = "*"
django-naomi = "*"
isort = "*"
model-mommy = "*"
pre-commit = "*"
prospector = {extras = ["with-vulture"]}
pylint-django = "*"
pylint-celery = "*"
safety = "*"
requests = "*"
ipdb = "*"
pylint = "==2.1.1"
astroid = "==2.0.4"

[packages]
django = "*"
celery = {extras = ["redis"]}
django-model-utils = "*"
django-webpack-loader = "*"
django-js-reverse = "*"
django-import-export = "*"
python-decouple = "*"
"psycopg2" = "*"
brotlipy = "*"
django-log-request-id = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psutil = "*"
ipython = "*"
psycopg2-binary = "*"
django-widget-tweaks = "*"
django-templated-email = "*"
social-auth-app-django = "*"
django-autocomplete-light = "*"
django-celery-beat = "*"

[requires]
python_version = "3.6"
