{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Create Battle | PokeBattle{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/create_battle.css' %}">
{% endblock %}

{% block body %}

<section class="create">
    <h2 class="title">Select your opponent and your team to battle!</h2>
    
    <form method="POST" class="create__form">
        {% csrf_token %}

        {% if form.subject.errors %}
            <p class="error">{{ form.errors }}</p>
        {% endif %}

        <p>
            <span>Pokemon: </span>{% render_field form.pokemon_1 %}
            <span>Round: </span>{% render_field form.order_1 %}
        </p>
        <p>
            <span>Pokemon: </span>{% render_field form.pokemon_2 %}
            <span>Round: </span>{% render_field form.order_2 %}
        </p>
        <p>
            <span>Pokemon: </span>{% render_field form.pokemon_3 %}
            <span>Round: </span>{% render_field form.order_3 %}
        </p>

        <input class="button" type="submit" value="Challenge now!">
    </form>
</section>

{% block scripts %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
{% endblock %}

{% endblock %}