{% extends 'base.html' %}
{% load static %}

{% block title %}Battle Detail | PokeBattle{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail_battle.css' %}">
{% endblock %}


{% block body %}

<section class="detail">

    <div class="container">
        <div class="item">
            <h2 class="subtitle">
                <img src="{% static 'img/fist.png' %}" alt="">
                Battle Winner
            </h2>
            {% if battle.trainer_winner == battle.trainer_creator %}
            <div class="creator">
                <b>{{ battle.trainer_winner }}</b>
            </div>
            {% else %}
            <div class="opponent">
                <b>{{ battle.trainer_winner }}</b>
            </div>
            {% endif %}
        </div>
        
        <div class="item">
            <h2 class="subtitle">
                <img src="{% static 'img/player.png' %}" alt="">
                Battle Trainers
            </h2>
            <div class="trainers">
                <span class="creator">{{ battle.trainer_creator }}</span> VS <span class="opponent">{{ battle.trainer_opponent }}</span>
            </div>
        </div>

        <div class="item">
            <h2>
                <img src="{% static 'img/fight.png' %}" alt="">
                Rounds
            </h2>
            <div class="round">
                {% for pokemon_creator, pokemon_opponent in pokemons %}
                <div>
                    <h3>Round {{forloop.counter}}</h3>
                    <div class="round_item">
                        <div class="pokemon">
                            <img class="sprite" src="{{ pokemon_creator.sprite }}" alt="">
                            <ul class="stats">
                                <li class="creator">{{ pokemon_creator.name|title }}</li>
                                <li>A: {{ pokemon_creator.attack }}</li>
                                <li>D: {{ pokemon_creator.defense }}</li>
                                <li>HP: {{ pokemon_creator.hitpoints }}</li>
                            </ul>
                        </div>
    
                        <div class="pokemon">
                            <img class="sprite" src="{{ pokemon_opponent.sprite }}" alt="">
                            <ul class="stats">
                                <li class="opponent">{{ pokemon_opponent.name|title }}</li>
                                <li>A: {{ pokemon_opponent.attack }}</li>
                                <li>D: {{ pokemon_opponent.defense }}</li>
                                <li>HP: {{ pokemon_opponent.hitpoints }}</li>
                            </ul>
                        </div>                    
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>

{% endblock %}