{% extends 'base.html' %}
{% load static %}

{% block title %}My Battles | PokeBattle{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/list_battle.css' %}">
{% endblock %}


{% block body %}

<section class="list">
    <div class="list__content">
    
        {% if on_going %}
        <h2>On Going Battles</h2>
            {% for battle in on_going %}

                {% if battle.trainer_opponent == user %}    <!-- TRAINER OPPONENT -->
                <a href="{% url 'battles:select_team' %}?id={{ battle.id }}">
                    <div class="battle">Battle: {{ battle.id }} (Challenge back)</div>
                </a>
                {% else %}  <!-- TRAINER CREATOR -->
                <div class="battle">Battle: {{ battle.id }} (Waiting {{ battle.trainer_opponent }} to challenge back)</div>
                {% endif %}

            {% endfor %}
        {% endif %}
        
        {% if settled %}
        <h2>Settled Battles</h2>
        {% for battle in settled %}
        <!-- <a href="{% url 'battles:select_team' %}?id={{ battle.id }}"> THIS IS GONNA BE BATTLE DETAIL --> 
            <div class="battle">Battle: {{ battle.id }}</div>
        <!-- </a> -->
        {% endfor %}
        {% endif %}

        {% if not on_going and not settled %}
        <h2>You don't have any battle yet.</h2>
        <a href="{% url 'battles:create_battle' %}">Challenge another trainer!</a>
        {% endif %}
    </div>
</section>

{% endblock %}