/* Common */
html {
    font-size: 16px;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.title {
    text-align: center;
}

.button {
    padding: 10px;
    box-sizing: border-box;
    background-color: #004d99;
    color: white;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 150ms;
}

.button:hover {
    background-color: white;
    color: #004d99;
    border-color: #004d99;
}

.button.social {
    display: flex;
    margin: 20px auto;
    width: fit-content;
    height: fit-content;
    background-color: #e13b28;
    color: white;
    text-decoration: none;
}

.button.social:hover {
    background-color: white;
    border-color: #e13b28;
    color: #e13b28;
}

.button.social span {
    font-weight: 500;
}

.errorlist, .errorlist li {
    color: #fd6c6c;
}