/* Common */
html {
    font-size: 16px;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/* Navbar */
.header__container, .menu {
    display: flex;    
    align-items: center;
    width: 100%;
}

.header__container {
    justify-content: center;
    height: 60px;
    background-color: #1271bf;
}

.header__title {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.menu {
    justify-content: space-around;
    height: 50px;
    background-color: white;
    box-shadow: 1px 1px 1px lightgray;
}

