.login {
    padding: 30px 0;
    box-sizing: border-box;
}

.login__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: auto;
}

.login__form p {
    display: flex;
    justify-content: space-between;
    width: 100%;
}