{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

<div class="header__container">
    <img class="header__logo" src="{% static 'img/logo.svg' %}" alt="pokebattle's logo">
    <a class="header__title" href="{% url 'home' %}">PokeBattle</a>
</div>

<nav class="menu">

    {% if not request.user.is_authenticated %}
        <a class="menu__link" href="{% url 'users:signup' %}">Signup</a>
        <a class="menu__link" href="{% url 'users:login' %}">Login</a>
    {% else %}
        <a class="menu__link" href="{% url 'battles:create_battle' %}">Create a Battle!</a>
        <a class="menu__link" href="{% url 'battles:list_battle' %}">My Battles</a>
        <a class="menu__link" href="{% url 'battles:invite_friend' %}">Invite a Friend</a>
        <div>
            <a class="menu__user">Hi, <span>{{ user.get_short_name|title }}! |</span></a>
            <a class="menu__link" href="{% url 'users:logout' %}">Logout</a>
        </div>
    {% endif %}
</nav>